{% extends 'base.html' %}

{% block content %}
<main>
    <form method="post">
        {% csrf_token %} 
        <p>Are you sure you want to delete "{{ todolist.name }}"?</p>
        {{ form.as_p }}
        <button class="button">Delete</button>
    </form>
</main>
{% endblock content %}